.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  padding-top: 5px;
  z-index: 200;
  background-color: rgb(255, 255, 255);
}

.sidebar-link {
  background-color: rgb(255, 255, 255);
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: lightgray;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}